MONGO_ROOT_USERNAME=inkadmin
MONGO_ROOT_PASSWORD=change-me-openssl-rand-hex-24
MONGO_DB_NAME=inkofbaphomet

NEXT_PUBLIC_BACKEND_URL_LIVE=/api
NEXT_PUBLIC_BASE_URL_LIVE=https://inkofbaphomet.com


NGINX_CONF=nginx.conf
HTTP_PORT=80
HTTPS_PORT=443


DEV_MONGODB_URI=
