PORT=5001
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>/inkofbaphomet?retryWrites=true&w=majority

JWT_SECRET=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

BREVO_API_KEY=
MAIL_SENDER_EMAIL=
MAIL_SENDER_NAME=Ink of Baphomet
CONTACT_EMAIL=

GEMINI_API_KEY=
GEMINI_MODEL=

PAYMONGO_SECRET_KEY=

